# **Python Beginner Day 5**

``3 questions``

**Exercise 11:**
-  Write a Program to extract each digit from an integer in the reverse order.
- For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [23]:
def reverse_order(n):
    # converting ``int`` type into ``str`` to reverse the numbers (n)
    i = str(n)
    # reversing the number
    reverse = i[::-1]
    # now , converting reversed number into int again
    reversed = int(reverse)
    # returing the reverse number finally
    return reversed

In [25]:
reverse_order(7536)

6357

In [2]:
# or
# visualize in python tutor
number = 7536

while number > 0:
    #to get the last digit
    digit = number % 10 
    # now remove the last digit and repeat the loop
    number = number // 10
    print(digit,end="")

6357

**Exercise 12:**
- Calculate income tax for the given income by adhering to the below rules

![Alt text](../../../../../c:/Users/amitt/OneDrive/Desktop/tax.png)



- ``Expected Out:``

**For example, suppose the taxable income is 45000 the income tax payable is**

10000*0% + 10000*10%  + 25000*20% = $6000.

In [35]:
def tax(n):
    if n > 10000:
        result = 10000
        first_tax = result*0
        n = n - result #sub 10000 from income
        if n > 10000:
            second_tax = result * 10/100
            n = n - result
            third_tax = n * 20/100
            result = first_tax + second_tax + third_tax
            return "income tax to be paid by you ${}".format(round(result)) 
    else:
        return "Don't need to pay the income tax "

In [41]:
tax(50000)

'income tax to be paid by you $7000'

In [42]:
# or 
# optimized
income = 50000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 50000
Total tax to pay is 7000.0

**Exercise 13:** 
- Print multiplication table form 1 to 10

**Expected Output:**

![Alt text](../../../../../c:/Users/amitt/OneDrive/Desktop/mul.png)

In [81]:
for i in range(1,11):
    for j in range(1,11):#for multplication in wider way (ie. how many values
        #want to multiply in specific table).
        print(i*j,end=" ")
    print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [97]:
#Pattern want to print 
#Quick revision
1,1
2,2,2
3,3,3,3

(3, 3, 3, 3)

In [102]:
for i in range(1,7):
    for j in range(i+1):
        print(i,end=" ")
    print("\t\t")

1 1
2 2 2
3 3 3 3
4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6 6

**Exercise 14:**
-  Print downward Half-Pyramid Pattern with Star (asterisk)

In [114]:
# * * * * *  
# * * * *  
# * * *  
# * *  
# *

for i in range(5,0,-1):
    print("*"*i,end="")
    print("\t\t")

*****
****
***
**
*

``or``
**Most Opimized way**

In [127]:
for i in range(6,0,-1):
    for j in range(0,i-1):
        print("*",end="  ")
    print(" ")

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

# Done With Day- 5